# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Model checkpoints and data
*.pth
*.zip
output/
ckpt/
monthly_20d/
losses.csv
losses.png
model/
temporal_config.yaml
# macOS
.DS_Store
__MACOSX/

# VSCode
.vscode/

# Misc
*.log
